<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>

  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Your Daily News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="btn btn-outline-secondary" href="/">Choose Another Location</a>
          </div>
        </div>
      </nav>

      <div class="jumbotron">
        <h1 class="display-4">YOUR WEATHER AND NEWS</h1>
        <p class="lead"></p>
      </div>

    <div class="container mt-6">
        <hr class="my-4">
        <h2> Local Weather for <%=@location %></h2>
            <h4>  It is <%= @current_temp %> degrees (F) with the current condition of <%= @current_summary %>.</h4>

        <h2> Future Forecast </h2>

            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Day</th>
                <th scope="col">High (F)</th>
                <th scope="col">Low (F)</th>
                <th scope="col">Conditions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Tomorrow</th>
                <td><%=@daytemphigh[0]%></td>
                <td><%=@daytemplow[0]%></td>
                <td><%=@daysum[0]%></td>
                </tr>
                <tr>
                <th scope="row">In 2 Days</th>
                <td><%=@daytemphigh[1]%></td>
                <td><%=@daytemplow[1]%></td>
                <td><%=@daysum[1]%></td>
                </tr>
                <tr>
                <th scope="row">In 3 Days</th>
                <td><%=@daytemphigh[2]%></td>
                <td><%=@daytemplow[2]%></td>
                <td><%=@daysum[2]%></td>
                </tr>
            </tbody>
            </table>


        <h2> Top National Headlines </h2>
            <div class="col">
                    <% for article in @news["articles"] %>
                                <a href="<%= article["url"] %>"></a>
                            </div>
                            <div class="col-10">
                               <ul>
                                <li> <a href="<%= article["url"] %>"><b><%= article["title"] %></b></a></br></li>
                                </ul>

                                <div class="d-none d-md-block">
                                </div>
                    <% end %>
            </div>
    </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>